.perfil{
    position: absolute;
    top: 340px;
    left: 20%;
}

.about{
    position: absolute;
    top: 510px;
    left: 20%;
    right: 20%;
    text-align: justify;
}

@media screen and (max-width: 530px) {
    .perfil{
        position: absolute;
        top:270px; 
        left: 180px;
    }
    .about{
        position: absolute;
        top: 520px; 
        left: 5%;
        right: 0;
        text-align: center;
    }
}