<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col" id="iconoargprogram">
                <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1654317435/APLogo-20-20.png" class="img-responsive" alt="argprogramaico" width="150" height="70">
            </div>
            <div class="col d-flex justify-content-start">
                <p class="hashtag">#YOPROGRAMO</p>
            </div>
            <div class="col d-flex justify-content-between"></div>
            <div class= "col d-flex justify-content-end">
            <app-redes></app-redes>
            <app-login></app-login>
            </div>
        </div>
    </div>
</header>