<div class="header">  
    <a href="#default" class="logo">
      <img src="https://i.imgur.com/yW7vJsl.png" class="iconoarg" alt="argprogramaico">
    </a>
    <a class="hashtag">#YOPROGRAMO
    </a>
    <div class="header-right" id="derecha">
      <a href="https://www.facebook.com/"><img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="iconoprueba" class="iconos">
        </a>
      <a href="https://www.twitter.com/"><img src="https://cdn.icon-icons.com/icons2/1584/PNG/512/3721677-twitter_108058.png" alt="iconoprueba" class="iconos">
      </a>
      <a href="https://www.instagram.com/"><img src="https://cdn-icons-png.flaticon.com/512/1409/1409946.png" alt="iconoprueba" class="iconos">
      </a>
      
    </div>
  </div>