.estudios{
    position: absolute;
    padding-top: 550px;
    padding-left:10%;
    padding-right:30%;
    width: 100%;
    left:10%
}
.experiencia{
    position: absolute;
    padding-top: 1000px;
    padding-left:10%;
    padding-right:30%;
    width: 100%;
    left:10%
}