.experiencia{
    position: absolute;
    padding-top: 550px;
    padding-left:10%;
    padding-right:30%;
    width: 100%;
    left:10%
}
.estudios{
    position: absolute;
    padding-top: 750px;
    padding-left:10%;
    padding-right:30%;
    width: 100%;
    left:10%;
    box-sizing: border-box
}
.skills{
    position: absolute;
    top: 1300px;
    padding-left:10%;
    padding-right:30%;
    width: 100%;
    left:10%
}
.proyectos{
    position: relative;
    top: 1500px;
    padding-left:10%;
    padding-right:30%;
    width: 100%;
    left:10%
}