.experiencia{
    position: absolute;
    margin-top: 300px;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    max-width: 800px;
    left:20%;
    box-shadow: 3px 3px 3px 3px;
}
.estudios{
    position: absolute;
    padding-top: 550px;
    padding-left:10%;
    padding-right:30%;
    width: 100%;
    left:10%;
    box-sizing: border-box
    
}
.skills{
    position: absolute;
    top: 1300px;
    padding-left:10%;
    padding-right:30%;
    width: 100%;
    left:10%
}
.proyectos{
    position: relative;
    top: 1100px;
    margin-left:auto;
    margin-right: auto;
    width: 40%;
    left:10%
}