#dropdown {
    border:none;
    border:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:17px;
    font-weight:bold;
 }
  
 #dropdown li {
    
    padding:0px;
    width:200px;
 }
 
 #dropdown li a {
    background:blue;
    display:block;
    font-weight:normal;
    line-height:36px;
    text-decoration:none;
 }
 
 #dropdown>ul>li>a {
    color:white;
 }
 
 #dropdown li>a:hover, #dropdown ul li:hover>a {
    background:grey;
    text-decoration:none;
 }
 
 #dropdown li ul {
    background:grey;
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:200px;
    z-index:150;
 }
 
 #dropdown li:hover ul {
    display:block;
 }
 
 #dropdown li li {
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:200px;
 }
 
 #dropdown li:hover li a {
    background:none;
 }
 
 #dropdown li ul a {
    display:block;
    height:36px;
    font-size:13px;
    font-style:normal;
    margin:0px;
    padding:0px 11px 0px 16px;
    text-align:left;
 }
 
 