img {
    position: block;
    height: auto;
    max-height: 300px;
    width: 100%;
    max-width: 800px;
    bottom: 450px;
    margin-left:20%;
    margin-right:20%;
    border-style: 2px inset;
    box-shadow: 3px 3px 3px 3px;
    
}

@media screen and (max-width: 530px) {
    img {
        margin-left:1%;
    }
}
