p{
    text-shadow: 2px 2px 3px white;
    font-family: impact;
    text-decoration: blink;
}
.contenedor{
    width: 170px;
    height: 150px;
    padding-left: 5%;
    padding-right: 5%
    
}
.nivel1{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-style: outset;
    background-image: conic-gradient(rgb(0, 81, 255) 20%, rgb(0, 247, 255)  80%);
    box-shadow: 3px 3px 3px 3px rgb(70, 70, 70);
}
.nivel2{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-style: outset;
    background-image: conic-gradient(rgb(0, 81, 255), rgb(0, 247, 255) 60%);
    box-shadow: 3px 3px 3px 3px rgb(70, 70, 70);
}
.nivel3{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-style: outset;
    background-image: conic-gradient(rgb(0, 81, 255) 60%, rgb(0, 247, 255) 80%);
    box-shadow: 3px 3px 3px 3px rgb(70, 70, 70);
}
.nivel4{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-style: outset;
    background-image: conic-gradient(rgb(0, 81, 255) 80%, rgb(0, 247, 255) 100%);
    box-shadow: 3px 3px 3px 3px rgb(70, 70, 70);
}
.nivel5{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-style: outset;
    background-image: conic-gradient(rgb(0, 81, 255) 90%, rgb(0, 247, 255) 100%);
    box-shadow: 3px 3px 3px 3px rgb(70, 70, 70);
}