<section *ngIf="skill.nivel === 1">
    <section class="contenedor">
        <div class="nivel1">
            <p>{{skill.nombre}}</p>
            <p>Nivel {{skill.nivel}}</p>
            </div>
    </section>
</section>
<section *ngIf="skill.nivel === 2">
    <section class="contenedor">
        <div class="nivel2">
            <p>{{skill.nombre}}</p>
            <p>Nivel {{skill.nivel}}</p>
            </div>
    </section>
</section>
<section *ngIf="skill.nivel === 3">
    <section class="contenedor">
        <div class="nivel3">
            <p>{{skill.nombre}}</p>
            <p>Nivel {{skill.nivel}}</p>
            </div>
    </section>
</section>
<section *ngIf="skill.nivel === 4">
    <section class="contenedor">
        <div class="nivel4">
            <p>{{skill.nombre}}</p>
            <p>Nivel {{skill.nivel}}</p>
            </div>
    </section>
</section>
<section *ngIf="skill.nivel === 5">
    <section class="contenedor">
        <div class="nivel5">
            <p>{{skill.nombre}}</p>
            <p>Nivel {{skill.nivel}}</p>
            </div>
    </section>
</section>
